<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #cceedf;
        }
        
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        form {
            max-width: 400px;
            margin: 0 auto;
        }
        
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
        }
        
        button {
            background-color: #14644a;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
        
        button:hover {
            background-color: #2ee2a6;
        }
    </style>
</head>

<body>
    <h1>Editar Usuario</h1>
    <form action="/update/<%= user._id %>" method="POST">
        <input type="text" name="user" value="<%= user.user %>" placeholder="Usuario">
        <input type="text" name="rol" value="<%= user.rol %>" placeholder="Rol">
        <button type="submit">Guardar</button>
    </form>
</body>

</html>